

.Navbar {
  margin: 0;
  padding: 0;
  border-bottom:  3px solid black;
}
.Navbar ul{
  display: flex;
  justify-content: space-around;
   margin: 0;
   padding: 0;
  list-style: none;

  }

.Navbar ul li a{
  display: block;
  padding: 30px;
  font-family: -apple-system,Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bolder;
}

.Navbar ul li a:hover{
  background-color: rgb(7, 7, 6);
  color: rgb(255, 255, 255);
}

.Navbar ul li a:active{
  background-color: rgb(7, 7, 6);
  color: rgb(255, 255, 255);
}
